html {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

#status {
    color: darkgreen;
    font-weight: 600;
}

h4 {
    margin-top: 0;
    margin-bottom: 10px;
}

label {
    margin-top: 4px;
}

.down {
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
    margin-right: 6px;
    justify-content: center;
}

button {
    text-decoration: none;
    margin-top: 6px;
    margin-right: 12px;
    border-radius: 4px;
    width: fit-content;
    align-self: center;
    background-color: lightblue;
    border: 1px solid black;
    cursor: pointer;
    padding: 6px;
}

nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid black;
    width: 50%;
    height: fit-content;
}
nav a {
    text-decoration: none;
    padding: 6px;
    margin: 12px;
    border-radius: 4px;
    background-color: lightblue;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: min-content 600px;
    grid-template-areas:
        ". input area2 ."
        ". list stats .";
    gap: 20px;
    margin-top: 24px;
}

.input {
    grid-area: input;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    gap: 4px;
    background-color: lightgray;
    padding-bottom: 16px;
}
.input input, select {
    padding: 4px;
    align-self: center;
    width: fit-content;
}
.area2 {
    grid-area: area2;
}

.list {
    grid-area: list;
    background-color: lightgray;
    height: 100%;
    overflow-y: scroll;
}
.list table {
    width: 100%;
    min-width: min-content;
    border-collapse: collapse;
}
.list tr, th {
    padding: 4px;
    font-weight: normal;
    border: 1px solid black;
}
.list thead th:hover {
    background-color: lightblue;
}
.list tbody tr:hover {
    background-color: lightblue;
}

.stats {
    grid-area: stats;
    min-width: min-content;
    text-align: left;
    padding: 24px;
    padding-top: 6px;
    background-color: lightgray;
    overflow-y: scroll;
}
.stats table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 12px;
}
.stats table tr, th {
    padding: 4px;
}

#player_stats h4 {
    text-align: left;
    margin: 6px 24px 0px 24px;
    border-bottom: 1px dotted black;
}

.player_stats_inputs {
    display: flex;
    flex-wrap: nowrap;
    gap: 6px;
    padding: 6px 24px 6px 24px;
}
.player_stats_inputs .down {
    flex-grow: 1;
    text-align: left;
    margin-right: 0;
}
.player_stats_inputs input {
    width: 100%;
    box-sizing: border-box;
}

.team_title {
    margin-left: 24px;
    text-align: left;
}
