<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esports DB - Games</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body onload="getGames()" onclick="clearStatus()">
    <h1>Esports DB - Games</h1>
    <nav>
      <a href="{{ url_for('intro') }}">Home</a>
      <a href="{{ url_for('players_page') }}">Players</a>
      <a href="{{ url_for('teams_page') }}">Teams</a>
      <a href="{{ url_for('games_page') }}">Games</a>
    </nav>
    <p id="status"></p>
    <div class="container">
        <div class="input" id="game_input">
            <button onclick="addGame()">Add Game</button>
        </div>
        <div class="input area2" id="game_edit">
            <!-- empty to begin with -->
        </div>
        <div class="list" id="game_list">
            <!-- empty to begin with -->
        </div>
        <div class="stats" id="game_stats">
            <!-- empty to begin with -->
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
