<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esports DB - Games</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body onload="getGames()" onclick="clearStatus()">
    <h1>Esports DB - Games</h1>
    <nav>
      <a href="{{ url_for('intro') }}">Home</a>
      <a href="{{ url_for('players_page') }}">Players</a>
      <a href="{{ url_for('teams_page') }}">Teams</a>
      <a href="{{ url_for('games_page') }}">Games</a>
    </nav>
    <p id="status"></p>
    <div class="container">
        <div class="input" id="game_input">
            <h3>Add Game</h3>

            <label for="game_date">Date:</label>
            <input type="date" id="game_date">

            <label for="team_1">Team 1:</label>
            <select id="team_1" onchange="addPlayerInputs('team_1')">
                <!-- options from js -->
            </select>

            <label for="team_2">Team 2:</label>
            <select id="team_2" onchange="addPlayerInputs('team_2')">
                <!-- options from js -->
            </select>

            <div>
                <div class="down">
                    <label for="team_1_score">Team 1 Score:</label>
                    <input type="number" id="team_1_score" placeholder="Enter score">
                </div>

				<div class="down">
					<label for="team_2_score">Team 2 Score:</label>
					<input type="number" id="team_2_score" placeholder="Enter score">
				</div>
            </div>

			<div id="player_stats">
				<!-- empty to begin with -->
            </div>

            <div>
                <button onclick="addGame()">Add Game</button>
                <button onclick="clearGameInput(); addPlayerInputs()">Clear</button>
            </div>
        </div>
        <div class="input area2" id="game_edit">
            <!-- empty to begin with -->
        </div>
        <div class="list" id="game_list">
            <!-- empty to begin with -->
        </div>
        <div class="stats" id="game_stats">
            <!-- empty to begin with -->
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
