<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World!</h1>
    <a><button onclick="test()">Click Me!</button></a>
    <div>
        <label>
          Name:
          <input type="text" id="player_name" placeholder="xxx" />
        </label>
        <label>
          Country:
          <input type="text" id="player_country" placeholder="SWEDEN" />
        </label>
        <button onclick="addPlayer()">Add Player</button>
      </div>
    <script src="../static/script.js"></script>
</body>
</html>
